XMPP RFC supports

Please add support of last RFCs.

About XMPP RFCs:
- https://tools.ietf.org/html/rfc3920 -> https://tools.ietf.org/html/rfc6120 to https://tools.ietf.org/html/rfc7590
- https://tools.ietf.org/html/rfc3921 -> https://tools.ietf.org/html/rfc6121
- https://tools.ietf.org/html/rfc3922
- https://tools.ietf.org/html/rfc3923
- https://tools.ietf.org/html/rfc4622 -> https://tools.ietf.org/html/rfc5122
- https://tools.ietf.org/html/rfc6122 -> https://tools.ietf.org/html/rfc7622
- https://tools.ietf.org/html/rfc7711
- https://tools.ietf.org/html/rfc7712
- https://tools.ietf.org/html/rfc7395

Difference noted in RFCs:
- https://tools.ietf.org/html/rfc6120#appendix-D
- https://tools.ietf.org/html/rfc6121#appendix-E
- https://tools.ietf.org/html/rfc6122#appendix-C
- https://tools.ietf.org/html/rfc7622#appendix-A

Note:
- http://jabber.996255.n3.nabble.com/Changes-missing-from-RFC-6120-s-Differences-from-RFC-3920-td30486.html

RFC3920 -> RFC6120
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3920.txt&url2=https://www.ietf.org/rfc/rfc6120.txt

RFC3921 -> RFC6121
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3921.txt&url2=https://www.ietf.org/rfc/rfc6121.txt

Draft but Very Important:
- https://tools.ietf.org/html/draft-cridland-xmpp-session-01

Linked to:
- https://github.com/smiley22/S22.Xmpp/issues/18
- https://github.com/pgstath/Sharp.Xmpp/issues/71
- https://github.com/ALE-Rainbow/Sharp.Ws.Xmpp/issues/10
- https://github.com/REPLDigital/Sharp.Xmpp/issues/2
- https://github.com/ParamountVentures/XMPPEngineer/issues/5
- https://github.com/luz-sf/Net.Xmpp/issues/20
- https://github.com/vitalyster/SharpXMPP/issues/94


Where did you find references to old RFCs?

@vitalyster: Have you read?
All are explained.

Why close an unsolved issue?

This library have no references to old RFCs, it was made with new RFCs in mind. If you found some - show me the exact line